<header>
  <a routerLink="/">
    <img height="24" src="../../../assets/logo.svg" alt="Logo" />
  </a>

  <nav>
    <button
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/']"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9 22V12H15V22"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button routerLinkActive="active" [routerLink]="['/create']">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.4415 19.6562L19.4415 12.6562L22.4415 15.6562L15.4415 22.6562L12.4415 19.6562Z"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18.4415 13.6562L16.9415 6.15625L2.44153 2.65625L5.94153 17.1562L13.4415 18.6562L18.4415 13.6562Z"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M2.44153 2.65625L10.0275 10.2423"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M11.4415 13.6562C12.5461 13.6562 13.4415 12.7608 13.4415 11.6562C13.4415 10.5517 12.5461 9.65625 11.4415 9.65625C10.337 9.65625 9.44153 10.5517 9.44153 11.6562C9.44153 12.7608 10.337 13.6562 11.4415 13.6562Z"
          stroke="#190F27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </nav>

  @if (user) {
  <!-- <div [cdkMenuTriggerFor]="menu" class="profile">
    <div class="avatar">
      <img [src]="author['avatarUrl']" alt="Avatar" />
    </div>
    <div class="info">
      <p class="username">&#64;{{ user["username"] }}</p>
    </div>
  </div> -->
  <app-profile [cdkMenuTriggerFor]="menu" [authorId]="user['uid']" />

  <ng-template #menu>
    <div class="options" cdkMenu>
      <button (click)="onLogout()">Logout</button>
    </div>
  </ng-template>

  } @else {
  <!-- <button routerLink="/login">Login</button> -->
  }
</header>
