<main>
  <img src="../../../assets/logo.svg" alt="Logo" />
  <div class="card">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          [style]="{border: loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required'] ? '1px solid red' : ''}"
        />
        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
        @if(loginForm.get('email')?.errors?.['required']){
        <small class="text-warning">Email is required</small>
        } @if(loginForm.get('email')?.errors?.['email']){
        <small class="text-warning">Invalid email format</small>
        } }
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          [style]="{border: loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'] ? '1px solid red' : ''}"
        />
        @if (loginForm.get('password')?.touched &&
        loginForm.get('password')?.errors?.['required']) {
        <small>Can't be empty</small>
        }
      </div>
      <button type="submit">Login</button>

      <p>
        Don't have an account yet? <a [routerLink]="['/signup']">Sign Up</a>
      </p>
    </form>
  </div>
</main>
