<main>
  <img src="../../../assets/logo.svg" alt="Logo" />
  <div class="card">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          [style]="{border: loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required'] ? '1px solid red' : ''}"
        />
        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
        @if(loginForm.get('email')?.errors?.['required']){
        <small class="text-warning">Email is required</small>
        } @if(loginForm.get('email')?.errors?.['email']){
        <small class="text-warning">Invalid email format</small>
        } }
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          [style]="{border: loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'] ? '1px solid red' : ''}"
        />
        @if (loginForm.get('password')?.touched &&
        loginForm.get('password')?.errors?.['required']) {
        <small>Can't be empty</small>
        }
      </div>

      @if (isLoading) {
      <button>
        <app-loader />
      </button>
      } @else {
      <button class="login" type="submit">Login</button>
      }

      <button class="google" type="button" (click)="onGoogleLogin()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgba(25, 15, 39, 1)"
        >
          <path
            d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
          ></path>
        </svg>
        Login with Google
      </button>

      <p>
        Don't have an account yet? <a [routerLink]="['/signup']">Sign Up</a>
      </p>
    </form>
  </div>
</main>
